<h1>About</h1>
<p>Morbi et vestibulum neque. Nam nulla justo, suscipit quis convallis in, elementum nec felis. Ut rutrum vel turpis eget lobortis. Donec sed facilisis diam. Nunc vel tortor facilisis, ultricies nisi sit amet, placerat mauris. Donec id mauris a eros lobortis pulvinar. Duis sed enim eget massa dictum molestie. Duis finibus nibh ac metus facilisis, non lobortis mi ultrices. Nullam varius lacus felis, nec efficitur lacus gravida sed. Morbi laoreet mi eros, quis malesuada justo dapibus id.</P>
<%= link_to "Home", root_path %>
<%= link_to "Help", help_path %>
<%= link_to "Contact us", contact_us_path %>
