<h1>More information</h1>
<p><strong>Rolls</strong> <%= @craps.rolls %></p>
<% if @craps.win %>
  <p>Won</p>
<% else %>
  <p>Lost</p>
<% end %>
<p><strong>Created at:</strong> <%= @craps.created_at %></p>
<p><strong>Updated at:</strong> <%= @craps.updated_at %></p>
<%= link_to "Craps", craps_index_path %>
